<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
        <h2>About Us</h2>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur ullam temporibus consequatur vel sunt! Aliquam earum numquam atque ratione molestiae ullam iure odio? Inventore impedit dolore, excepturi sunt debitis porro labore ipsum temporibus repellendus reiciendis culpa, soluta dignissimos facilis aspernatur fuga consequuntur similique, quos fugiat!</p>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur ullam temporibus consequatur vel sunt! Aliquam earum numquam atque ratione molestiae ullam iure odio? Inventore impedit dolore, excepturi sunt debitis porro labore ipsum temporibus repellendus reiciendis culpa, soluta dignissimos facilis aspernatur fuga consequuntur similique, quos fugiat!</p>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur ullam temporibus consequatur vel sunt! Aliquam earum numquam atque ratione molestiae ullam iure odio? Inventore impedit dolore, excepturi sunt debitis porro labore ipsum temporibus repellendus reiciendis culpa, soluta dignissimos facilis aspernatur fuga consequuntur similique, quos fugiat!</p>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>